---
layout: page
permalink: /categories/
title: Categories
---

<div id="archives">

<h4>
{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <a href="#{{ category_name }}"><i class="fa fa-folder-o"> {{ category_name }}</i>&nbsp;&nbsp;</a>
{% endfor %}
<hr />
</h4>

{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <h3 class="category-head"><a name="{{ category_name | slugize }}">{{ category_name }}</a></h3>

    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <ul>
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">· {{ post.title }} <span class="dateline">{{ post.date | date: "%B %d, %Y" }}</span></a>
      </ul>
    </article>
    {% endfor %}
  </div>
{% endfor %}

</div>