{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% if author.avatar contains 'http' %}
	<img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% else %}
	<img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% endif %}

<h3>{{ author.name }}</h3>
<p >{{ author.bio }}
{% if author.location %}
	<a href="https://www.google.es/maps/place/43%C2%B017'34.8%22N+3%C2%B000'03.6%22W/@43.2930039,-20.930687,4z/data=!4m5!3m4!1s0x0:0x0!8m2!3d43.293!4d-3.001?hl=en" target="_blank" class="author-social"><small><i class="fa fa-map-marker fa-lg"></i> {{ site.owner.location.latitude }}, {{ site.owner.location.longitude }}</small></a>
{% endif %}
</p>

{% if author.email %}<a href="mailto:javier.estraviz+AgileDataScientist@gmail.com?subject=[AgileDataScientist]" class="author-social"><i class="fa fa-envelope"></i> Email</a>{% endif %}

{% if author.twitter %}<a href="http://twitter.com/{{ author.twitter }}" class="author-social" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>{% endif %}

{% if author.linkedin %}<a href="http://linkedin.com/in/{{ author.linkedin }}" class="author-social" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>{% endif %}

{% if author.github %}<a href="http://github.com/{{ author.github }}" class="author-social" target="_blank"><i class="fa fa-github"></i> Github</a>{% endif %}

{% if author.codewars %}<a href="https://www.codewars.com/users/{{ author.codewars }}" class="author-social" target="_blank"><i class="fa fa-laptop"></i> Codewars</a>{% endif %}

{% if author.datacamp %}<a href="https://www.datacamp.com/profile/{{ author.datacamp }}" class="author-social" target="_blank"><i class="fa fa-bar-chart"></i>DataCamp</a>{% endif %}

{% if author.freecodecamp %}<a href="https://www.freecodecamp.org/{{ author.freecodecamp }}" class="author-social" target="_blank"><i class="fa fa-free-code-camp"></i>freeCodeCamp</a>{% endif %}

<!--<br /><span class="small-size">
<a href="https://github.com/estraviz/estraviz.github.io/issues/new" target="_blank"><i class="fa fa-commenting-o"></i> Suggest a topic</a></span>-->
