<h3>
	Share this:&nbsp;&nbsp;
	<a href="https://twitter.com/share?text={{ page.title }}&url={{ page.shorturl }}&via=estraviz" title="Share on Twitter" target="_blank">
		<i class="fa fa-twitter fa-twitter-share fa-lg"></i>
	</a>&nbsp;
	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" title="Share on LinkedIn" target="_blank">
		<i class="fa fa-linkedin fa-linkedin-share fa-lg"></i>
	</a>&nbsp;
	<!--
	<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" target="_blank">
		<i class="fa fa-google-plus fa-google-plus-share fa-lg"></i>
	</a>&nbsp;
	-->
	<a href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{site.baseurl}}{{ page.url }}" title="Share by e-mail">
		<i class="fa fa-envelope fa-envelope-share fa-lg"></i>
	</a>&nbsp;
</h3>
