---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";

// Custom
.dateline {
    float: right;
    font-size: 9pt;
    font-style: italic;
}

a:hover, .footname {
    //color: #36c;
    color: $mypreferredlinkcolor;
}

#homepage {
    color: $mypreferredlinkcolor;
}

.fa-linkedin-share {
    color: #0077b5;
}

.fa-twitter-share {
    color: #4099FF;
}

.fa-envelope-share {
    color: #444444;
}

.active {
    color: #36c;
}

.center {
    text-align: center;
}
