<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}

{% if page.og_image %}<meta property="og:image" content="{{ page.og_image }}">{% endif %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">

  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

  <article class="post">
    <div class="headline-wrap">
        <h1>{{ page.title }} <!--<span style="font-size:50%"><a href="{{ site.url }}{{ page.url }}"><i class="fa fa-link fa-icon-reversed"></i></a></span>-->

            <br />

            <span class="small-size normalweight">

              <span class="readingtimecolor">
                <i class="fa fa-calendar"></i>&nbsp;&nbsp;<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}&nbsp;

                {% if page.last_modified_at %}
                  (Updated: {{ page.last_modified_at | date: "%B %d, %Y" }})</time>&nbsp;
                {% endif %}

              {% include _reading-time.html %}

              </span>
              &nbsp;
              <span class="nowrapping">
                <a href="{{ site.url }}{{ site.categories_page.path }}#{{ page.category }}"><i class="fa fa-folder-open-o"></i>&nbsp;<span class="glossary readingtimecolor">{{ page.category }}</span>&nbsp;</a>
              </span>

              {% assign first_tag = true %}
              {% for tag in page.tags %}
                
                {% if first_tag %}
                  <span class="nowrapping"><i class="fa fa-tags fa-rotate-90"></i>&nbsp;<a href="{{ site.url }}{{ site.tags_page.path }}#{{ tag }}"><span class="glossary readingtimecolor">{{ tag }}</span></a>
                  </span>
                  {% assign first_tag = false %}
                {% else %}
                  · <span class="nowrapping"><a href="{{ site.url }}{{ site.tags_page.path }}#{{ tag }}"><span class="glossary readingtimecolor">{{ tag }}</span></a>
                </span>
                {% endif %}

              {% endfor %}

            </span>
        </h1>
    </div><!--/ .headline-wrap -->

    <hr />

    <div class="article-wrap">
      
      <span class="justifytextbothsides">{{ content }}</span>
      
      <hr />

      <footer role="contentinfo">

        <div class="article-author-bottom">
          {% include _author-bio.html %}
        </div>

        {% include _share-page.html %}

      </footer>

    </div><!-- /.article-wrap -->

    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}

  </article>

</div><!-- /#main -->

<div class="footer-wrap">

  {% include _related-articles.html %}

  <footer>
    {% include _footer.html %}
  </footer>

</div><!-- /.footer-wrap -->

{% include _scripts.html %}	        

</body>
</html>